<div class="row">
  <div class="col-lg-12">
    <ngx-owerp-form
      [canEdit]="false"
      [fields]="fields"
      [data]="data"
      [actions]="actions"
      [title]="title"
    ></ngx-owerp-form>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <ngx-owerp-list
    [title]="'Granted Permissions'"
    [items]="userPermissionData"
    [displayAttr]="'name'"
    ></ngx-owerp-list>
  </div>

  <div class="col-lg-6">
    <ngx-owerp-list
      [title]="'User Groups'"
      [items]="userGroupData"
      [displayAttr]="'name'"
      (selectItem)="onUserGroupClick($event)"
    ></ngx-owerp-list>
  </div>


</div>


