<nb-card>
  <nb-card-header>{{title}}
  <div class="row" *ngIf="actions && actions.length > 0 && !canEdit">
    <div class="col-lg-12">
      <ngx-owerp-action *ngFor="let action of actions" [settings]="action"></ngx-owerp-action>
    </div>
  </div></nb-card-header>
  <nb-card-body>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="row">
        <div *ngFor="let field of fields" [class]="getWidth(field.size)">
          <div class="form-group">
            <label [for]="field.name" class="label">{{field.label}}</label>
            <input *ngIf="field.type === 'text'" type="text" nbInput [formControlName]="field.name" fullWidth
                   id="inputFirstName" [placeholder]="field.label" [readOnly]="!canEdit && !field.canEdit">

            <nb-badge nbInput *ngIf="field.type === 'boolean' && (!canEdit && !field.canEdit)" [text]="getData(field.name)" [status]="getData(field.name)  === true ? 'success' : 'danger'"></nb-badge>
            <nb-toggle nbInput  *ngIf="field.type === 'boolean' && (canEdit === true && field.canEdit === true)" [formControlName]="field.name"></nb-toggle>
          </div>
        </div>
      </div>
      <button *ngIf="canEdit" [disabled]="formGroup.invalid" type="submit" nbButton>Save</button>
      <button *ngIf="canEdit" (click)="onReset()" type="reset" nbButton>Cancel</button>
    </form>
  </nb-card-body>
</nb-card>
